<!DOCTYPE html>

<html>
<head>

	<link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/ReviewYourPurchases-382c614a635416d5e53af0665818bc2d97ca1e9a._V2_.css#AUIClients/ReviewYourPurchases.secure.min" />
	<link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/CustomerReviewsImageKit-805bae40efe8127adbfd2b9acbc7ae89d6ea7f30._V2_.css#AUIClients/CustomerReviewsImageKit.secure.min" />
	<link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUI-def1dfe3edcac538e27845c3cfc11fa83c842d7e._V2_.css#AUIClients/AmazonUI.rendering_engine-not-trident.secure.min" />
</head>
<body>

	<div id="revMHLContainer" class="a-column a-span8" style="border:1px solid red;width:77%">
		<h2 class="a-spacing-small">Customer Reviews</h2>
		<div id="revMHLContainerChild" class="a-section">
			<div id="summaryContainer" class="a-row a-spacing-medium">
				<div id="revSum" class="a-section">

					<div class="a-row a-spacing-small">

						<div id="summaryStars" class="a-row">
							<a class="a-link-normal a-text-normal product-reviews-link" title="4.6 out of 5 stars" href="http://www.amazon.com/adidas-Performance-Climacore-Short-Sleeve/product-reviews/B00QVAMLBY/ref=cm_cr_dp_qt_see_all_top?ie=UTF8&amp;showViewpoints=1&amp;sortBy=helpful"> <i class="a-icon a-icon-star-medium a-star-medium-4-5"><span class="a-icon-alt">4.6 out of 5 stars</span></i> 
								44
							</a>
						</div>
						<div id="avgRating" class="a-row a-spacing-small a-color-secondary">
							<span class="a-declarative" data-action="a-popover" data-a-popover="{&quot;content&quot;:&quot;Amazon calculates a product’s star ratings using a machine learned model instead of a raw data average. The machine learned model takes into account factors including: the age of a review, helpfulness votes by customers and whether the reviews are from verified purchases.&quot;}">
								<a href="javascript:void(0)" class="a-popover-trigger a-declarative">
									<span>4.6 out of 5 stars</span> <i class="a-icon a-icon-popover"></i>
								</a>
								<!-- for popover_trigger -->
							</span>
							<!-- for declarative_action -->
						</div>

					</div>

					<div class="a-fixed-left-grid">
						<div class="a-fixed-left-grid-inner" style="padding-left:185px">

							<div class="a-fixed-left-grid-col a-col-left" style="width:185px;margin-left:-185px;_margin-left:-92.5px;float:left;">

								<table id="histogramTable" class="a-normal a-align-middle a-spacing-base">
									<tbody>
										<tr class="a-histogram-row">
											<td class="a-nowrap">
												<a class="a-link-normal" title="5 stars represent 75% of rating" href="http://www.amazon.com/adidas-Performance-Climacore-Short-Sleeve/product-reviews/B00QVAMLBY/ref=cm_cr_dp_qt_hist_five?ie=UTF8&amp;filterByStar=five_star&amp;showViewpoints=0">5 star</a>
												<span class="a-letter-space"></span>
											</td>
											<td class="a-span10">
												<a class="a-link-normal" title="5 stars represent 75% of rating" href="http://www.amazon.com/adidas-Performance-Climacore-Short-Sleeve/product-reviews/B00QVAMLBY/ref=cm_cr_dp_qt_hist_five?ie=UTF8&amp;filterByStar=five_star&amp;showViewpoints=0">
													<div class="a-meter" aria-label="75%">
														<div class="a-meter-bar a-meter-filled" style="width: 75%;"></div>
													</div>
												</a>
											</td>
											<td class="a-nowrap">
												<span class="a-letter-space"></span>
												<a class="a-link-normal" title="5 stars represent 75% of rating" href="http://www.amazon.com/adidas-Performance-Climacore-Short-Sleeve/product-reviews/B00QVAMLBY/ref=cm_cr_dp_qt_hist_five?ie=UTF8&amp;filterByStar=five_star&amp;showViewpoints=0">75%</a>
											</td>
										</tr>
										<tr class="a-histogram-row">
											<td class="a-nowrap">
												<a class="a-link-normal" title="4 stars represent 16% of rating" href="http://www.amazon.com/adidas-Performance-Climacore-Short-Sleeve/product-reviews/B00QVAMLBY/ref=cm_cr_dp_qt_hist_four?ie=UTF8&amp;filterByStar=four_star&amp;showViewpoints=0">4 star</a>
												<span class="a-letter-space"></span>
											</td>
											<td class="a-span10">
												<a class="a-link-normal" title="4 stars represent 16% of rating" href="http://www.amazon.com/adidas-Performance-Climacore-Short-Sleeve/product-reviews/B00QVAMLBY/ref=cm_cr_dp_qt_hist_four?ie=UTF8&amp;filterByStar=four_star&amp;showViewpoints=0">
													<div class="a-meter" aria-label="16%">
														<div class="a-meter-bar a-meter-filled" style="width: 16%;"></div>
													</div>
												</a>
											</td>
											<td class="a-nowrap">
												<span class="a-letter-space"></span>
												<a class="a-link-normal" title="4 stars represent 16% of rating" href="http://www.amazon.com/adidas-Performance-Climacore-Short-Sleeve/product-reviews/B00QVAMLBY/ref=cm_cr_dp_qt_hist_four?ie=UTF8&amp;filterByStar=four_star&amp;showViewpoints=0">16%</a>
											</td>
										</tr>
										<tr class="a-histogram-row">
											<td class="a-nowrap">
												<a class="a-link-normal" title="3 stars represent 9% of rating" href="http://www.amazon.com/adidas-Performance-Climacore-Short-Sleeve/product-reviews/B00QVAMLBY/ref=cm_cr_dp_qt_hist_three?ie=UTF8&amp;filterByStar=three_star&amp;showViewpoints=0">3 star</a>
												<span class="a-letter-space"></span>
											</td>
											<td class="a-span10">
												<a class="a-link-normal" title="3 stars represent 9% of rating" href="http://www.amazon.com/adidas-Performance-Climacore-Short-Sleeve/product-reviews/B00QVAMLBY/ref=cm_cr_dp_qt_hist_three?ie=UTF8&amp;filterByStar=three_star&amp;showViewpoints=0">
													<div class="a-meter" aria-label="9%">
														<div class="a-meter-bar a-meter-filled" style="width: 9%;"></div>
													</div>
												</a>
											</td>
											<td class="a-nowrap">
												<span class="a-letter-space"></span>
												<a class="a-link-normal" title="3 stars represent 9% of rating" href="http://www.amazon.com/adidas-Performance-Climacore-Short-Sleeve/product-reviews/B00QVAMLBY/ref=cm_cr_dp_qt_hist_three?ie=UTF8&amp;filterByStar=three_star&amp;showViewpoints=0">9%</a>
											</td>
										</tr>
										<tr class="a-histogram-row">
											<td class="a-nowrap">
												2 star
												<span class="a-letter-space"></span>
											</td>
											<td class="a-span10">
												<div class="a-meter" aria-label="0%">
													<div class="a-meter-bar a-meter-filled" style="width: 0%;"></div>
												</div>
											</td>
											<td class="a-nowrap">
												<span class="a-letter-space"></span>
												<span>0%</span>
											</td>
										</tr>
										<tr class="a-histogram-row">
											<td class="a-nowrap">
												1 star
												<span class="a-letter-space"></span>
											</td>
											<td class="a-span10">
												<div class="a-meter" aria-label="0%">
													<div class="a-meter-bar a-meter-filled" style="width: 0%;"></div>
												</div>
											</td>
											<td class="a-nowrap">
												<span class="a-letter-space"></span>
												<span>0%</span>
											</td>
										</tr>
									</tbody>
								</table>

								<a class="a-link-emphasis a-nowrap" href="http://www.amazon.com/adidas-Performance-Climacore-Short-Sleeve/product-reviews/B00QVAMLBY/ref=cm_cr_dp_see_all_summary?ie=UTF8&amp;showViewpoints=1&amp;sortBy=helpful">See all 44 customer reviews</a>

							</div>

							<div class="a-fixed-left-grid-col a-col-right" style="padding-left:6%;*width:93.6%;float:left;">
								<div class="a-row a-spacing-medium">
									<span id="shareYourThoughts">Share your thoughts with other customers</span>
								</div>
								<div class="a-row a-spacing-medium">
									<span id="summaryWriteReviewButton" class="a-button a-button-width-normal">
										<span class="a-button-inner">
											<a id="summaryWriteReviewButton-announce" href="http://www.amazon.com/review/create-review/ref=cm_cr_dp_wrt_summary?ie=UTF8&amp;asin=B00QVAMLBY&amp;channel=detail-glance&amp;nodeID=3375251&amp;store=apparel" title="Write a customer review" class="a-button-text" role="button">Write a customer review</a>
										</span>
									</span>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
			<div class="a-row">
				<div id="revMH" class="a-column a-span11">

					<h3 class="a-spacing-small">Top Customer Reviews</h3>
					<div id="revMHRL" class="a-section">

						<div id="rev-dpReviewsMostHelpfulAUI-R3M73Q8IKTX4BB" class="a-section celwidget">
							<div class="a-row a-spacing-micro">
								<div class="a-icon-row a-spacing-none">
									<a class="a-link-normal a-text-normal a-color-base" title="5.0 out of 5 stars" href="http://www.amazon.com/review/R3M73Q8IKTX4BB/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00QVAMLBY&amp;channel=detail-glance&amp;nodeID=3375251&amp;store=apparel">
										<i class="a-icon a-icon-star a-star-5"><span class="a-icon-alt">5.0 out of 5 stars</span></i> 
									</a>
									<span class="a-letter-space"></span>
									<a class="a-link-normal a-text-normal a-color-base" href="http://www.amazon.com/review/R3M73Q8IKTX4BB/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00QVAMLBY&amp;channel=detail-glance&amp;nodeID=3375251&amp;store=apparel">
										<span class="a-size-base a-text-bold">Great shirt to stay cool during runs. Fits great too!</span>
									</a>
								</div>
								<span class="a-color-secondary">

									<span class="a-size-normal">
										<span class="a-color-secondary">By</span>
										<a href="/gp/pdp/profile/A1NO92RGFN3LEA/ref=cm_cr_dp_pdp" class="noTextDecoration">Uncle Tido</a>
									</span>
									<span class="a-color-secondary">on December 4, 2015</span>
								</span>
							</div>
							<div id="revData-dpReviewsMostHelpfulAUI-R3M73Q8IKTX4BB" class="a-row a-spacing-small">
								<span class="a-size-mini a-color-secondary">
									Size: Small
									<i class="a-icon a-icon-text-separator"></i>
								</span>
								<span class="a-size-mini a-color-secondary">
									Color: Lucky Blue S15 / Lucky Blue S15
									<i class="a-icon a-icon-text-separator"></i>
								</span>
								<span class="a-size-mini a-color-state a-text-bold">Verified Purchase</span>

								<script type="text/javascript">
    

P.when("A").execute(function(A) {
    var jQuery         = A.$;
    function showFullReview(event) {
        event.$event.preventDefault();
        event.$target.hide();
    
        var parent = event.$target.parent().parent();
        var fullText = parent.find(".MHRHead").html() +  event.data.rest;
        var pxInitialSize = parent.height();
          
        parent.html(fullText);
        var pxTargetSize = parent.height();
        parent.height(pxInitialSize);
        parent.animate({height: pxTargetSize + 'px'}, 400, function(){parent.css("height", "auto")});
    }
    
    A.declarative("columnbalancing-showfullreview", ["click"], showFullReview);
});

  </script>

								<div class="a-section">
									I'll have to say that I've never owned a shirt with this feel before. I've owned other shirts with 100% polyester but this one just feels different. It's not one of those stretchy shirts but it is thin and still does a great job showing your physique. I do like the breathable mesh on the bottom back which I do feel a draft come through during my runs. I'm 5'7" and the Small fit great.
								</div>

							</div>
							<link rel="stylesheet" href="http://z-ecx.images-amazon.com/images/G/01/AUIClients/ReviewsLightbox-f8642c2ff3c686297eeeaf2faf790bf1ce5ce9c2._V2_.css#AUIClients/ReviewsLightbox.min">
							<script>
  (window.AmazonUIPageJS ? AmazonUIPageJS : P).load.js('http://z-ecx.images-amazon.com/images/G/01/AUIClients/ReviewsLightbox-c5420b05a84735ab7eb0b7d15990905cf5ae193f._V2_.js#AUIClients/ReviewsLightbox.min');
</script>

							<div id="R3M73Q8IKTX4BB_imageSection_88823C7C-0BE4-11E6-BBF1-3962BD1C2533" style="margin:5px;">
								<div style="overflow-x: hidden; overflow-y: hidden;">
									<img class="review-image-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/51lRpNrWCKL._SL256_.jpg" large-image-url="https://images-na.ssl-images-amazon.com/images/I/51lRpNrWCKL._SL256_.jpg" style="background-position:center;
                                         background-repeat: no-repeat;
                                         overflow: hidden;background-size: cover;
                                         display:inline-block;
                                         margin-right: 1px;
                                         margin-bottom: 4px;
                                         cursor: pointer;
                                         width:auto;height:88px;">
									<img class="review-image-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71QSOKe7KRL._SL256_.jpg" large-image-url="https://images-na.ssl-images-amazon.com/images/I/71QSOKe7KRL._SL256_.jpg" style="background-position:center;
                                         background-repeat: no-repeat;
                                         overflow: hidden;background-size: cover;
                                         display:inline-block;
                                         margin-right: 1px;
                                         margin-bottom: 4px;
                                         cursor: pointer;
                                         width:auto;height:88px;">
									<img class="review-image-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71lDRxCYL7L._SL256_.jpg" large-image-url="https://images-na.ssl-images-amazon.com/images/I/71lDRxCYL7L._SL256_.jpg" style="background-position:center;
                                         background-repeat: no-repeat;
                                         overflow: hidden;background-size: cover;
                                         display:inline-block;
                                         margin-right: 1px;
                                         margin-bottom: 4px;
                                         cursor: pointer;
                                         width:auto;height:88px;"></div>

								<div style="display:none;">
									<span class="a-declarative" data-action="a-modal" data-a-modal="{&quot;inlineContent&quot;:&quot;\n<div class=\&quot;reviewsLightbox reviewLightboxPopoverContainer\&quot; id=\&quot;R3M73Q8IKTX4BB_gallerySection_88823C7C-0BE4-11E6-BBF1-3962BD1C2533\&quot; style =\&quot;overflow:hidden;position:relative;\&quot;>\n</div>
									\n&quot;}">
									<a href="javascript:void(0)" class="a-popover-trigger a-declarative">
										<i class="a-icon a-icon-popover"></i>
									</a>
								</span>
							</div>
						</div>

						<script>
  P.when("jQuery").execute(function(jQuery) {
      P.when("reviewsLightbox-js").execute(function() {
      
       
       var reviewImageGallery = new ReviewGallery("R3M73Q8IKTX4BB_gallerySection_88823C7C-0BE4-11E6-BBF1-3962BD1C2533", "DESKTOP");
       reviewImageGallery.initializeForReview("R3M73Q8IKTX4BB");
                        
        var widgetDom = jQuery("#R3M73Q8IKTX4BB_imageSection_88823C7C-0BE4-11E6-BBF1-3962BD1C2533");
        var thumbnails = widgetDom.find(".review-image-thumbnail"); 
            thumbnails.each( function(index) {
                jQuery(this).bind("click", function() {
                    var popover = widgetDom.find(".a-popover-trigger");
                    popover.click();
                    P.when("reviewsLightbox-ready-R3M73Q8IKTX4BB_gallerySection_88823C7C-0BE4-11E6-BBF1-3962BD1C2533").execute(function() {
                       reviewImageGallery.render();
                       reviewImageGallery.showImageAtIndex(index);
                    });
                });
            });
      });
  });
</script>

						<a class="a-link-normal comment-link commentStripe" title="0" href="http://www.amazon.com/review/R3M73Q8IKTX4BB/ref=cm_cr_dp_cmt?ie=UTF8&amp;ASIN=B00O8FQH6E&amp;channel=detail-glance&amp;nodeID=3375251&amp;store=apparel#wasThisHelpful">Comment</a>
						<i class="a-icon a-icon-text-separator commentStripe"></i>

						<a id="R3M73Q8IKTX4BB.2115.Helpful.Reviews"></a>
						<span id="cr-vote-R3M73Q8IKTX4BB" class="votingStripe">
							<span class="a-size-base a-color-secondary cr-vote-buttons">
								11 people found this helpful. Was this review helpful to you?
								<span class="a-letter-space"></span>
								<span class="a-declarative" data-action="cr-vote" data-cr-vote="{&quot;rootComponentId&quot;:&quot;#cr-vote-R3M73Q8IKTX4BB&quot;,&quot;reviewId&quot;:&quot;R3M73Q8IKTX4BB&quot;}" style="display: inline">
									<span class="a-button a-button-beside-text a-button-small yesButton votingButtonReviews" id="a-autoid-18">
										<span class="a-button-inner">
											<a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R3M73Q8IKTX4BB/Helpful/1/ref=cm_cr_dp_voteyn_yes?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwUVZBTUxCWS9yZWY9Y21fY3JfZHB2b3RlcmRyP2llPVVURjgmcmVmUklEPTFUVERQN0ZUMFcxWlJWRVYzRjJO&amp;token=B289F969F5016BD18B1513D0364AFEAC02DCA7E3&amp;voteAnchorName=R3M73Q8IKTX4BB.2115.Helpful.Reviews&amp;voteSessionID=180-7910503-1287601" title="Yes" class="a-button-text a-text-center" role="button" id="a-autoid-18-announce">Yes</a>
										</span>
									</span>
									<span class="a-button a-button-beside-text a-button-small noButton votingButtonReviews" id="a-autoid-19">
										<span class="a-button-inner">
											<a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R3M73Q8IKTX4BB/Helpful/-1/ref=cm_cr_dp_voteyn_no?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwUVZBTUxCWS9yZWY9Y21fY3JfZHB2b3RlcmRyP2llPVVURjgmcmVmUklEPTFUVERQN0ZUMFcxWlJWRVYzRjJO&amp;token=787C184FEA408C1C94A35618D171067C73A82E8E&amp;voteAnchorName=R3M73Q8IKTX4BB.2115.Helpful.Reviews&amp;voteSessionID=180-7910503-1287601" title="No" class="a-button-text a-text-center" role="button" id="a-autoid-19-announce">No</a>
										</span>
									</span>
								</span>
							</span>
							<span class="a-hidden cr-vote-feedback">Sending feedback...</span>
							<div class="a-box a-alert-inline a-alert-inline-success a-hidden cr-vote-success">
								<div class="a-box-inner a-alert-container">
									<i class="a-icon a-icon-alert"></i>
									<div class="a-alert-content">Thank you for your feedback.</div>
								</div>
							</div>
							<div class="a-box a-alert-inline a-alert-inline-error a-hidden cr-vote-error">
								<div class="a-box-inner a-alert-container">
									<i class="a-icon a-icon-alert"></i>
									<div class="a-alert-content">Sorry, we failed to record your vote. Please try again</div>
								</div>
							</div>
							<span class="a-letter-space"></span>
							<span class="a-color-base cr-vote-inapp">
								<a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R3M73Q8IKTX4BB/Inappropriate/1/ref=cm_cr_dp_abuse_voteyn?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwUVZBTUxCWS9yZWY9Y21fY3JfZHBfYWJ1c2Vfdm90ZXJkcj9pZT1VVEY4JnJlZlJJRD0xVFREUDdGVDBXMVpSVkVWM0YyTg&amp;token=5880105A58AF2548EB654E1FD6482E44D295D3C8&amp;voteAnchorName=R3M73Q8IKTX4BB.2115.Inappropriate.Reviews&amp;voteSessionID=180-7910503-1287601" onclick="var w = window.open(this.href+'&amp;type=popup','reportAbuse','height=380,width=580');w.focus();return false;">Report abuse</a>
							</span>
						</span>

						<div id="ocStripe-dpReviewsMostHelpfulAUI-R3M73Q8IKTX4BB" class="a-row a-spacing-small officialCommentStripe">
							<script type="text/javascript">
    
            if (typeof window.cr_popup_registered === 'undefined') {
                window.cr_popup_registered = true;
                P.when('A').register('cr_popup', function(A) {
                    var popWin = function(url,name,options) {
                        var ContextWindow = window.open(url,name,options);
                        ContextWindow.focus();
                        return false;
                    }

                    function popup(event) {
                        var data = event.data;
                        var toolbar = data.toolbar;
                        if (typeof toolbar === 'undefined') {
                            toolbar = 0;
                        }
                        var jqEvent = event.$event;
                        var url = event.$target.closest('a').attr('href');
                        popWin(url,data.title,'width=' + data.width + ',height=' + data.height + ',resizable=1,scrollbars=1,toolbar=' + toolbar + ',status=1');
                        jqEvent.preventDefault();
                    }
                    A.declarative('cr-popup', ['click'], popup);
                });
            }
         
</script>
						</div>
					</div>

					<div id="rev-dpReviewsMostHelpfulAUI-R2EENCQZYYUO9S" class="a-section celwidget">
						<div class="a-row a-spacing-micro">
							<div class="a-icon-row a-spacing-none">
								<a class="a-link-normal a-text-normal a-color-base" title="4.0 out of 5 stars" href="http://www.amazon.com/review/R2EENCQZYYUO9S/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00QVAMLBY&amp;channel=detail-glance&amp;nodeID=3375251&amp;store=apparel">
									<i class="a-icon a-icon-star a-star-4">
										<span class="a-icon-alt">4.0 out of 5 stars</span>
									</i>
								</a>
								<span class="a-letter-space"></span>
								<a class="a-link-normal a-text-normal a-color-base" href="http://www.amazon.com/review/R2EENCQZYYUO9S/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00QVAMLBY&amp;channel=detail-glance&amp;nodeID=3375251&amp;store=apparel">
									<span class="a-size-base a-text-bold">looks great and a great price</span>
								</a>
							</div>
							<span class="a-color-secondary">

								<span class="a-size-normal">
									<span class="a-color-secondary">By</span>
									<a href="/gp/pdp/profile/A2RYCHHODU03U9/ref=cm_cr_dp_pdp" class="noTextDecoration">Shrinkinguy</a>
								</span>
								<span class="a-color-secondary">on January 8, 2016</span>
							</span>
						</div>
						<div id="revData-dpReviewsMostHelpfulAUI-R2EENCQZYYUO9S" class="a-row a-spacing-small">
							<span class="a-size-mini a-color-secondary">
								Size: Medium
								<i class="a-icon a-icon-text-separator"></i>
							</span>
							<span class="a-size-mini a-color-secondary">
								Color: Dark Grey Heather / Light Red
								<i class="a-icon a-icon-text-separator"></i>
							</span>
							<span class="a-size-mini a-color-state a-text-bold">Verified Purchase</span>

							<div class="a-section">
								Well made, high quality, looks great and a great price.  I ordered a medium since I like my workout shirts slightly fitted (I am 6' 1", 220 lbs, 35" waist, athletic build), but this one is a bit smaller than others I've purchased.  Rather than exchange it, I guess I'll just live with the tighter fit.  The shirt looks black and dark red in the photo, but it's really grey and bright orange.  But it still looks great.
							</div>

						</div>

						<a class="a-link-normal comment-link commentStripe" title="0" href="http://www.amazon.com/review/R2EENCQZYYUO9S/ref=cm_cr_dp_cmt?ie=UTF8&amp;ASIN=B00LFWDTEQ&amp;channel=detail-glance&amp;nodeID=3375251&amp;store=apparel#wasThisHelpful">Comment</a>
						<i class="a-icon a-icon-text-separator commentStripe"></i>

						<script type="text/javascript">
  


  
P.when("A").execute(function(A) {
   
   function vote(event) {
     var root = A.$(event.data.rootComponentId);
     var target = event.$target;
     root.find(".cr-vote-buttons").addClass("a-hidden");
     root.find(".cr-vote-feedback").removeClass("a-hidden");
       
     A.get(target.attr("href") + "&type=json&_=" + (new Date()).getTime(),
     {
	   dataType: 'json',
	   ajaxTimeout: 10000,
	   success: function(data, textStatus){ 
         success(data, root, target);
       },
	   error: function(XMLHttpRequest, textStatus, errorThrown){
         error(root, target);
       }
	 });
     event.$event.preventDefault();

   }

   function isNoButton(target) {       
     return target.closest(".noButton").length > 0;
   }

   function success(data, root, target) {
       if (data.redirect == 1) {
	   window.location.href = target.attr("href");
       } else if (data.error == 1) {
	   error(root, target);
       } else {
	   root.find(".cr-vote-success").removeClass("a-hidden");	   
	   root.find(".cr-vote-feedback").addClass("a-hidden");
       }
   }

   function error(root, target) {
       root.find(".cr-vote-error").removeClass("a-hidden");	   
       root.find(".cr-vote-feedback").addClass("a-hidden");
   }

   A.declarative("cr-vote", ["click"], vote);
});


</script>

						<a id="R2EENCQZYYUO9S.2115.Helpful.Reviews"></a>
						<span id="cr-vote-R2EENCQZYYUO9S" class="votingStripe">
							<span class="cr-vote-buttons">
								Was this review helpful to you?
								<span class="a-letter-space"></span>
								<span class="a-declarative" data-action="cr-vote" data-cr-vote="{&quot;rootComponentId&quot;:&quot;#cr-vote-R2EENCQZYYUO9S&quot;,&quot;reviewId&quot;:&quot;R2EENCQZYYUO9S&quot;}" style="display: inline">
									<span class="a-button a-button-beside-text a-button-small yesButton votingButtonReviews" id="a-autoid-20">
										<span class="a-button-inner">
											<a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R2EENCQZYYUO9S/Helpful/1/ref=cm_cr_dp_voteyn_yes?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwUVZBTUxCWS9yZWY9Y21fY3JfZHB2b3RlcmRyP2llPVVURjgmcmVmUklEPTFUVERQN0ZUMFcxWlJWRVYzRjJO&amp;token=2F0FBB49B2871A1208EECCE3648E781D23147199&amp;voteAnchorName=R2EENCQZYYUO9S.2115.Helpful.Reviews&amp;voteSessionID=180-7910503-1287601" title="Yes" class="a-button-text a-text-center" role="button" id="a-autoid-20-announce">Yes</a>
										</span>
									</span>
									<span class="a-button a-button-beside-text a-button-small noButton votingButtonReviews" id="a-autoid-21">
										<span class="a-button-inner">
											<a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R2EENCQZYYUO9S/Helpful/-1/ref=cm_cr_dp_voteyn_no?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwUVZBTUxCWS9yZWY9Y21fY3JfZHB2b3RlcmRyP2llPVVURjgmcmVmUklEPTFUVERQN0ZUMFcxWlJWRVYzRjJO&amp;token=EB934E7EF39BB8423AECFADFC0343AFD16E808F4&amp;voteAnchorName=R2EENCQZYYUO9S.2115.Helpful.Reviews&amp;voteSessionID=180-7910503-1287601" title="No" class="a-button-text a-text-center" role="button" id="a-autoid-21-announce">No</a>
										</span>
									</span>
								</span>
							</span>
							<span class="a-hidden cr-vote-feedback">Sending feedback...</span>
							<div class="a-box a-alert-inline a-alert-inline-success a-hidden cr-vote-success">
								<div class="a-box-inner a-alert-container">
									<i class="a-icon a-icon-alert"></i>
									<div class="a-alert-content">Thank you for your feedback.</div>
								</div>
							</div>
							<div class="a-box a-alert-inline a-alert-inline-error a-hidden cr-vote-error">
								<div class="a-box-inner a-alert-container">
									<i class="a-icon a-icon-alert"></i>
									<div class="a-alert-content">Sorry, we failed to record your vote. Please try again</div>
								</div>
							</div>
							<span class="a-letter-space"></span>
							<span class="a-color-base cr-vote-inapp">
								<a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R2EENCQZYYUO9S/Inappropriate/1/ref=cm_cr_dp_abuse_voteyn?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwUVZBTUxCWS9yZWY9Y21fY3JfZHBfYWJ1c2Vfdm90ZXJkcj9pZT1VVEY4JnJlZlJJRD0xVFREUDdGVDBXMVpSVkVWM0YyTg&amp;token=0A412E84B49E8D9A0CC8F2F9AD08E86D71669ADD&amp;voteAnchorName=R2EENCQZYYUO9S.2115.Inappropriate.Reviews&amp;voteSessionID=180-7910503-1287601" onclick="var w = window.open(this.href+'&amp;type=popup','reportAbuse','height=380,width=580');w.focus();return false;">Report abuse</a>
							</span>
						</span>

					</div>

					

					

				</div>

			</div>
		</div>
	</div>

	
</div>

</body>
</html>