<style>
    .error {
        width:200px;
        height:20px;
        height:auto;
        position:absolute;
        left:50%;
        margin-left:-100px;
        bottom:10px;
        background-color: #383838;
        color: #F0F0F0;
        font-family: Calibri;
        font-size: 20px;
        padding:10px;
        text-align:center;
        border-radius: 2px;
        -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
        -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
        box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    }
</style>
<div id="headerNav" class="refresh" >
                    <div class="innerpadding">
                    <div id="selectday">
                           <span class="arrow">&raquo; </span>
                           <a href="https://fresh.amazon.com/Delivery?slotReferer=%2FCategory%3Fcat%3Dlocalfarmersmarket%26ref_%3DFr_Gr_AMG_Farm&amp;ref_=nav_delivery">Select day &amp; time for your order</a>
                       </div>
                   
                        <a href="https://fresh.amazon.com/help?ref_=nav_help">
                            <div id="help_top">
                                <div id="help_top_img"></div>
                            </div>
                        </a>
                        <ul class="sidelist">
                      
                            <li id="freshLogo">
                                <a href="/" id="fresh_logo_link">
                                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3.png" alt="AmazonFresh Home" />
                                    <span></span>
                                </a>
                           

                             <!-- change begin-->
                             
               <li class="taskbar_menubutton" id="deliveries" title="Your Deliveries">
                   <div class="separator">|</div>
                   <a href="/AllOrders" id="your_deliveries_link"> Deliveries</a>
               </li>
                <li class="taskbar_menubutton" id="Customer" title="Your Deliveries">
                   <div class="separator">|</div>
                   <a href="/signup?change=true" id="your_deliveries_link">Customer</a>
               </li>
               <li class="taskbar_menubutton" id="messages" title="Messages">
                   <div class="separator">|</div>
                   <a href="/farmer" id="messages_link">Farmer
                       <span class="messagecount"></span></a>
               </li>
               <li class="taskbar_menubutton" id="your_lists" title="Your Lists">
                   <div class="separator">|</div>
                   <a href="/productmanage" ng-if="">Product Manage</a>
               </li>
               
                             <!-- change end-->

                           
                        </ul>
                    </div>
                </div>
                <div id="unreadUrgentMessages"></div>
                
                <div id="deliveriesMenu" class="menu" tabindex="-1">
                    <div class="message">
                        <p class="messagebody">You have no upcoming deliveries</p>
                    </div>
                    <div class="message">
                        Click here to
                        <a href="https://fresh.amazon.com/AllOrders">
                            view all orders in
                            <strong>Your Account</strong>
                        </a>
                        .
                    </div>
                    <div class="messagepopupoptions">
                        <a href="javascript:closeOpenMenus()">x close</a>
                    </div>
                </div>
                <div id="messagesMenu" class="menu" tabindex="-1">
                    <input type="hidden" name="refId" value="188-1338411-1687912">
                    <div class="message">
                        <p class="messagebody">You have no messages</p>
                    </div>
                    <div class="messagepopupoptions">
                        <a href="javascript:closeOpenMenus()">x close</a>
                    </div>
                </div>
                <div id="lightboxblockout" class="centered">
                    <div id="lightbox">
                        <div id="lb-cancel"></div>
                        <div id="lb-preloaded" class=""></div>
                        <div id="lb-ondemand"></div>
                    </div>
                </div>
                <div id="orderProcessing">
                    <div id="orderCheckoutSpinner">
                        <div id="spinnerText">We're processing your order.</div>
                        <div id="spinnerImg">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/placeorder-truck.png" id="greenTruck" alt="" />
                        </div>
                    </div>
                </div>
               